<mat-card id="EventCard">
    <mat-card-title>Wine Tasting</mat-card-title>
    <img mat-card-image src="https://www.iso.org/files/live/sites/isoorg/files/news/News_archive/2021/08/Ref2700/Ref2700.jpg/thumbnails/2400x1200">
    <mat-card-subtitle>Thursday 07.12.21 — 7pm</mat-card-subtitle>
    <mat-card-content>Stroll through the city with our sommelier, a glass of wine in hand, have a bite to eat at various culinary hot spots and experience real street pairing! These are our gourmet tours throughout Munich!

        In doing so, we show what Munich freedom means: Pleasurable enjoyment on the go, simple yet brilliant tastes from all over the world!</mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
</mat-card>