.event-card {
    padding-bottom: 24px;

    overflow: hidden;
    ::ng-deep .mat-card-content {
        display: block;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 6rem;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4; // max nb lines to show
        -webkit-box-orient: vertical;
    }

    #head {
        display: flex;
        justify-content: space-between;
    }
    
    img {
        max-height: 40vh;
        background-color: #252525;
        object-fit: cover;
    }

    mat-card-subtitle {
        display: flex;
        flex-direction: row;
        div {
            margin-right: 24px;
            height: 32px;
            display: flex;
            flex-direction: row;
            mat-icon {
                margin-right: 8px;
                height: 32px;
            }
            span {
                height: 32px;
            }
        }
    }

    mat-card-actions {
        display: flex;
        justify-content: flex-end;
    }
}


