<main>
    <google-map 
        height="100%" 
        width="100%"
        [zoom]="zoom"
        [center]="center"
        [options]="options"
        mapId="ee691f8617d29770"
        >
        <map-marker
            *ngFor="let event of EventList"
            [position]="event.position"
            label="E"
            [title]="event.name"
            (mapClick)="showMapCard(event)"
        >
        </map-marker>
    </google-map>
</main>
<div id="draggable-card">
    <div class="draggable-thumb-wrapper" 
    (touchstart)="startDraggingHandler($event)"
    (touchmove)="draggingHandler($event)"
    (touchend)="stopDraggingHandler($event)">
        <div class="draggable-thumb"></div>
    </div>
    <app-event-card id="selected_event" [event]="selected_event"></app-event-card>
</div>
