main {
    position: fixed;
    height: calc(100% - 80px - 56px);
    width: 100%;
}

#draggable-card{
    position: fixed;
    top: 80%;
    transform: translateY(20%);
    width: calc(100vw - 16px);
    left: 8px;
    background: rgb(66, 66, 66);
    border-radius: 4px;

    transition: transform 0.2s ease-out;
    will-change: transform;
}

.draggable-thumb-wrapper {
    display: flex;
    align-items: center;
    padding: 16px 0px;
    cursor: pointer;
}
  
.draggable-thumb {
    margin: auto;
    border-radius: 50px;

    overflow: hidden;

}

#selected_event ::ng-deep mat-card {
    max-height: calc(100vh - 80px - 56px - 16px - 24px - 8px - 48px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.left-bar {
  position: absolute;
  background-color: transparent;
  top: 16px;
  left: calc(50% - 16px - 12px);
  width: 24px;
  height: 6px;
  display: block;
  transform: rotate(20deg);
  float: right;
  border-radius: 100px;
  &:after {
    content:"";
    background-color: white;
    width: 24px;
    height: 6px;
    display: block;
    float: right;
    border-radius: 100px 50px 50px 100px;
    z-index: -1;
    transition: transform 0.2s ease-out;
  }
}

.right-bar {
  position: absolute;
  background-color: transparent;
  top: 16px;
  left: calc(50% - 16px - 12px + 20px);
  width: 24px;
  height: 6px;
  display: block;
  transform: rotate(-20deg);
  float: right;
  border-radius: 100px;
  &:after {
    content:"";
    background-color: white;
    width: 24px;
    height: 6px;
    display: block;
    float: right;
    border-radius: 50px 100px 100px 50px;
    z-index: -1;
    transition: transform 0.2s ease-out;
  }
}

.open {
  .left-bar:after {
    transform-origin: center center;
    transform: rotate(-40deg);
  }
  .right-bar:after {
    transform-origin: center center;
    transform: rotate(40deg);
  }
}