<main>
    <google-map 
        height="100%" 
        width="100%"
        [center]="center"
        [options]="options"
        mapId="ee691f8617d29770"
        (mapClick)="hideMapCard()"
        >
        <map-marker id="event-marker"
            *ngFor="let marker of EventMarker"
            [position]="marker.position"
            [icon]="marker.icon"
            [title]="marker.assignedEvent.name"
            (mapClick)="showMapCard(marker.assignedEvent)"
        >
        </map-marker>
        <map-marker width="120" height="120" style="z-index: 4000;"
            [position]="locationMarker.position"
            [icon]="locationMarker.icon"
        >
        </map-marker>
    </google-map>
</main>


<div id="draggable-card">
    <div class="draggable-thumb-wrapper" 
    (touchstart)="startDraggingHandler($event)"
    (touchmove)="draggingHandler($event)"
    (touchend)="stopDraggingHandler($event)"
    (click)="toggleView()">
        <div id="arrow" class="draggable-thumb">
            <span class="left-bar"></span>
            <span class="right-bar"></span>
        </div>
    </div>
    <app-event-card id="selected_event" [event]="selected_event"></app-event-card>
</div>
