<main>
	<nav>
		<mat-form-field id="search" class="full-width" appearance="fill">
			<mat-label>Search</mat-label>
			<input matInput class="form-control" type="text" name="search" [(ngModel)]="search.text" autocomplete="off"
				placeholder='e.g. "Cafe"'>
			<mat-icon matSuffix (click)=emptySearch()>{{searchIcon}}</mat-icon>
		</mat-form-field>
		<button id="toggleFilterBtn" mat-flat-button (click)=toggleFilter()>
			<mat-icon> {{filterIcon}}</mat-icon>
		</button>
	</nav>
	<section *ngIf=showAdditionalFilters>
		<mat-form-field id="datepicker" class="full-width" appearance="fill">
			<mat-label>Date</mat-label>
			<input matInput [matDatepicker]="dp" #dateElem [(ngModel)]="emptyVal">
			<mat-datepicker-toggle matSuffix [for]="dp">
			</mat-datepicker-toggle>
			<mat-datepicker #dp touchUi></mat-datepicker>
		</mat-form-field>
	</section>


	<div class="event-card" *ngFor="let event of sortedEvents | filter:search.text | filter:search.date">
		<app-event-card [event]="event"></app-event-card>
	</div>


</main>