<main>
  <!--mat-form-field appearance="fill" class="full-width">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date">
      <input matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
  </mat-form-field-->

  <!--mat-form-field class="full-width" appearance="fill" >
    <mat-label>Date & Time</mat-label>
    <input matInput type="datetime-local" placeholder="start date">
  </mat-form-field-->

  <!--input [ngxTimepicker]="picker">
<ngx-material-timepicker #picker></ngx-material-timepicker-->
  <!--input [ngxTimepicker]="picker">
  <ngx-material-timepicker #picker></ngx-material-timepicker-->

  <div class="search-hero">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a hero by id or name or country">
  </div>

  <div class="event-card" *ngFor="let event of EventList"> 
    <app-event-card [event]="event"></app-event-card>
  </div>
    
    
</main>