.full-width {
    width: 100%;
}
main {
    margin: 16px;
}
.event-card {
    margin: 16px 0px;
}
#search {
    width: calc(100%);
    //margin-top: -8px;
    //margin-left: -8px;
    margin-bottom: -16px;
    ::ng-deep .mat-form-field-flex {
        background-color: rgb(45, 45, 45);
        border-radius: 4px;
      }
      ::ng-deep .mat-form-field-underline {
        width: calc(100% - 8px);
        margin-left: 4px;
      }
}