<main id="login" class="mat-app-background">
    <span id="app-icon" class="material-icons-outlined">
        celebration
    </span>
    <span id="app-title">Event Finder</span>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" id="login-cred">
        <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Your Username" placeholder="John Doe" formControlName="username" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="interaction@prototyping.io" formControlName="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" required placeholder="At least 8 chars">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePswd">
                <mat-icon>{{hidePswd ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <div id="login-buttons">
            <button mat-button label="Login" routerLink="/login">I already have an account</button>
            <button mat-raised-button color="primary" label="Register" type="submit" (click)="onSubmit">Register</button>
        </div>
    </form>
</main>