<main>
<form id="profile-form">


    <span id="app-icon" class="material-icons-outlined">
        celebration
    </span>
    <h1>
        Hi <span id="username">{{username}} </span>
    </h1>
    <p>
        Nothing else to do here!
    </p>

    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput readonly [placeholder]="username" [value]="username">
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput readonly [placeholder]="email" [value]="email">
    </mat-form-field>

  </form>
</main>