#profile-form {
    max-width: 500px;
}
  
.full-width {
    width: 100%;
}
  
td {
padding-right: 8px;
}
  
#profilePic {
    height: 150px;
    width: 150px;
    margin: 64px auto 64px;
    display: block;
}
main {
    margin: 16px;
}