<main>
	<img mat-card-image [src]="event.picture">
	<mat-card-title>{{event.name}}</mat-card-title>

	<mat-card-subtitle>
		<div class="time">
			<mat-icon>schedule</mat-icon>
			<span>{{event.time}}</span>
		</div>
		<div class="date">
			<mat-icon>event</mat-icon>
			<span>{{event.date}}</span>
		</div>
	</mat-card-subtitle>

	<mat-card-content>{{event.description}}</mat-card-content>

	<mat-card-actions>
		<button mat-button (click)="share()">SHARE</button>
		<button mat-raised-button [color]="eventState" (click)="toggleFavorite(event)">
			<mat-icon>local_activity</mat-icon>
			{{toggle}}
		</button>
	</mat-card-actions>

	<h2>Navigation</h2>
	<div id="google-map-container">
		<google-map height="100%" width="100%" [center]="center" [options]="options" mapId="ee691f8617d29770"
			(mapClick)="openDialog()">
			<map-marker id="event-marker" [position]="marker.position" [icon]="marker.icon" (mapClick)="openDialog()">
			</map-marker>
		</google-map>
	</div>

	<h2>More to come</h2>
	<ul>
		<li>Add reminder to your phone calendar</li>
		<li>Buy tickets via the app and skip the line in front of the club?</li>
		<li>See how many and who else is attending an event?</li>
		<li>Planning your own private or public events?</li>
	</ul>

	<h2>What else?</h2>
	<p>Tell us your ideas via email and install the app to your homescreen. <br>It is a progressive web app!</p>
	<mat-card-actions>
		<a mat-raised-button href="mailto:vingeobrun@gmail.com">Contact</a>
	</mat-card-actions>


</main>